.header {
  height: 100px;
  background: rgba(0,0,0, 0.1);
  text-align: center;
}

.footer {
  height: 100px;
  background: rgba(0,0,0, 0.1);
  text-align: center;
}

.main {
  height: calc(100vh - 200px);
  text-align: center;
}